<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfusion.player"> <!--android:sharedUserId="android.uid.system"-->

    <!-- <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 在sd卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>

    <application
        android:name=".common.Player.PlayerApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".common.Player.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">

            <!-- android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.Player.PlayerMenu"
            android:label="@string/title_activity_player_menu"
            android:theme="@android:style/Theme.Dialog">
            <!-- android:theme="@android:style/Theme.Dialog" -->
        </activity>

        <receiver android:name="com.mfusion.player.services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.mfusion.commons.broadcast.UsbBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity android:name=".common.Player.ActivityViewpage" android:theme="@style/MyTheme"
            android:windowSoftInputMode="stateHidden" android:configChanges="orientation|screenSize|keyboardHidden"></activity>
    </application>

</manifest>